diagnostics.db
diagnostics.db-shm
diagnostics.db-wal
uv.lock
dir_tree_snapshot.txt
src/dump.txt
src/alados.egg-info/PKG-INFO
src/alados.egg-info/SOURCES.txt
src/alados.egg-info/dependency_links.txt
src/alados.egg-info/requires.txt

# Python bytecode
__pycache__/
*.pyc
*.pyo
src/alados.egg-info/entry_points.txt
src/alados.egg-info/top_level.txt
